
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce&family=Shadows+Into+Light&display=swap');



body{
   
    background: linear-gradient(to top,#f3b5db, #f5dded, #f3b5db);
    
}

header{
   
    background: #e4a3cb;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 9px  ;
    margin-top: -10px;
    margin-left: -10px;
   

}
.x{
    text-decoration: none;
color: rgb(122, 38, 87);
font-weight: 700;
font-size: 40px;
font-family: "Birthstone Bounce", cursive;
font-style: normal;
padding-left: 100px;

}
.xx{
    padding-right: 50px;   
}
.xx a{ 
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding-left: 40px;

}

.xx a:hover{
    color: rgb(219, 51, 169);
}
   
h2 {
    text-align: center;
    font-size:50px ;
}

.m{
    margin-top: -70px;
    display: flex;
    flex-flow: row ;
    justify-content: space-evenly;
    align-items: center;
}
.m #k{
align-self:center ;
padding: 8%;
font-size: 40px;
font-weight: lighter;
text-align: center;
margin-left: -100px;
}
.m #kk{
    padding: 2%;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(187, 142, 150);
    margin-right: 50px;
}
.gg{
     
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(2,150px);
    gap: 10px ;
    justify-content: center;
    grid-template-areas:  
    "h gh g"
    "c gh f ";
}
.html{
    grid-area: h;
}
.css{
    margin-left: -30%;
    grid-area: c;
}
.git{
    grid-area: g;
}
.figma{
    grid-area: f;
}
.github{
    margin-left: -40%;
    grid-area: gh;
}




.ttt{


    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.tttt{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
footer{
    background: #e4a3cb;
    width: 100%;
    margin: 0 -7px -7px -7px;
    padding: 20px;
    
}

footer #ii{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;}

    footer #lolo{
    display: flex;
    justify-content: center;
    font-family: 40px;
    }
/* footer table td a{
    color: black;
    text-decoration: none;
    font-weight: inherit;

}
footer table td a:hover{
    color: rgb(219, 51, 169);
} */